USE [CentroMedico]
GO
/****** Object:  StoredProcedure [dbo].[S_pacientes]    Script Date: 16/05/2023 18:08:01 ******/
-- Se colocan por defecto estas instrucciones al modificarlo, se encuentra la explicación en el otro archivo de stored
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
Es un conjunto de instrucciones sql que está almacenado. 
Es decir está almacenado internamente en el sql, pero también se puede almacenar en un archivo

Estan diseñados para ejecutar una o un conjunto de instrucciones concretas

Por lo general se usa para un insercción, eliminación o actualización de registros, tambien se usan selects
*/

--crearlo
-- se puede colocar PROCEDURE también pero es más practico poner PROC

--El alter se coloca automaticamente al poner modify, con create creo otro
ALTER PROC [dbo].[S_pacientes] (   -- recibe parametros de entradas, que son los datos a procesar
			@idPaciente int -- tipo de dato que ya estaba definido
)
AS






SELECT idPaciente, apellido, nombre, domicilio FROM paciente WHERE idPaciente = @idPaciente
