USE [CentroMedico]
GO
/****** Object:  StoredProcedure [dbo].[S_pacientesSubconsulta]    Script Date: 17/05/2023 11:32:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROC [dbo].[S_pacientesSubconsulta] (   
			@idPaciente int 
)
AS





-- aca traigo la descripción del pais, ese campo está en otra tabla y no es FK, como idPais

SELECT idPaciente, apellido, nombre, domicilio,
(SELECT pais from pais ps WHERE ps.idPais = pa.idPais) nombrePais -- salta el error de que esta trayendo mas de un valor porque esa sentencia hace referencia a su propio idPais porque no le especifico de que tabla es, no al de paciente, entonces trae todos los paises, y solo necesitamos traer el de PER por ejemplo. Lo solucionamos con alias de tablas. El as con nombrePais es opcional
FROM paciente pa WHERE idPaciente = @idPaciente





